html {
    height: 100%;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.card2{
    margin: 2px;
}
.card {
    transition: .4s linear;
    place-items: center;

}

.card:hover {
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0, 3);

}
img{
    background-size: cover;
    background-position: center;
}
.header_last {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    font-size: 1.1em;
}

.bbb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: auto;
    text-align: center;
}

.offcanvas_read {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.button_read {
    padding: 15px 4px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #e64533;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.button_read::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c94c3eb1;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button_read::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear-infinite;
    filter: blur(8px);
    opacity: .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button_read:hover::before {
    opacity: 1;
}

.button_read:active::after {
    background: transparent;
}

.button_read:active {
    color: #000;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card:active,
.image,
.img {
    scale: 1.1;
    opacity: 0.9;
    text-align: center;
}

.title {
    margin-top: 12px;
}

.content,
.title {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.content,
.sub-title {
    font-size: 18px;
    font-weight: 500;
    color: #e74c3c;
}

.bottom,
.p {
    color: #666666;
    font-size: 16px;
    text-align: center;
    line-height: 1.8em;
}

.bottom,
.button {
    float: left;
    padding: 7px 15px;
    font-size: 17px;
    background-color: #e74c3c;
    color: white;
    font-weight: 500;
    border: 0;
    margin: 10px 0;
    transition: 0.5s ease;
}

.bottom,
.bottom:hover {
    scale: 0.9;
    background-color: #e64533;
}

.carousel_image {
    width: 100%;
}

.carousel_image_inner {
    padding-top: 1px;
}

.carousel_image1 {
    background-image: url(carousel_image/carousel1.jpg);
}

.carousel_image2 {
    background-image: url(carousel_image/carousel2.png);
}

.carousel_image3 {
    background-image: url(carousel_image/carousel3.png);
}

.navbar_Model {
    padding: 2px;
}

.card {
    position: relative;
    height: 470px;
    width: 340px;
    display: block;
    background-color: white;
    background: white;
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0, 15);
}

.card,
.image {
    background-color: black;
    height: 400px;
    overflow: hidden;
}

.image,
.img {
    height: 100%;
    width: 100%;
}

.content {
    bottom: 0px;
    background-color: white;
}

@media(max-width:1000px) {
    main {
        display: block;
        margin: auto;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        padding: 2px;
    }
}
.card{
    margin: 20px;
}
.a{
    text-decoration: none;
    color: white;
}
.button_read:hover::before {
    opacity: 1;
}

.button_read:active::after {
    background: transparent;
}
.card-img{
    background-size: cover;
    background-position: center;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}
.card-image , .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}
.slide-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 1120px;
    justify-content: center;
}
html,
body {
  position: relative;
  height: 100%;
}
.card1,.card2{
    margin: auto;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
/* CSS */
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 0px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* Hover Effects on Social Media Icons */

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0 ;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: nonedisc;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
li{
    color: #111;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    color: white;
    text-align: center;
    width: 100%;
    align-items: center;
    padding: 20px 20px 20px 0px;
}
.copyright{
    width: 100%;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width:700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        text-align: center;
        width: 100%;
        margin: 10px;
    }
    ul{
        margin-right: 50px;
    }
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body,html{
    background-color: #d8cbcb36;
}
.card_responsive{
    border-radius: 35px;
    background-color: #d8cbcb36;
}
.slide-container{
    margin: 0 40px;
}
.image-content,.card-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.image-content{
    row-gap: 5px;
}
.button_responsive{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    border-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    transition: all 0.3s ease;
}
.button_responsive:hover{
    background: #265DF2;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    left: 0;
    top: 0;
    border-radius: 25px 25px 0 25px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay::before, .overlay::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
    right: 0;
    bottom: -40px;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}